# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# SQLite
*.db
*.sqlite3

# OS
.DS_Store

# Virtual Env
venv/
env/

# PyInstaller build
dist/
build/
*.spec.bak
__pycache__/
*.pyc

# Archivos generados en runtime
last_receipt.txt
stickers_a4.pdf
stickers_thermal.pdf
temp_barcode_*
temp_th_*
